<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oeste Burger Rafaela - Productos Congelados</title>
    <meta name="description" content="Oeste Burger Rafaela ofrece productos congelados para tu evento o comercio. Haz tu pedido hoy!">
    <meta name="keywords" content="Oeste Burger, productos congelados, eventos, comercio, hamburguesas, superpanchos, papas fritas">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:image" content="/images/preview-image.jpg">
    <meta property="og:title" content="Oeste Burger Rafaela">
    <meta property="og:description" content="Productos congelados para tu evento o comercio">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Google Analytics tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3YCPKRBS0G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3YCPKRBS0G');
    </script>
</head>
<body>
    <header>
        <div class="header-title">
            <img src="/images/logo.webp" alt="Logo of Oeste Burger Rafaela" class="header-logo" loading="lazy">
        </div>
    </header>
    <div class="banner">
        <a href="https://wa.me/+543492604461" target="_blank" class="banner-link">
            <img src="/images/banner-image.webp" alt="Order your food from Oeste Burger" class="banner-image" loading="lazy">
            <h2 class="banner-text">Tocá acá para hacer tu pedido</h2>
        </a>
        <script>
            document.querySelector('.order-button').addEventListener('click', function() {
                gtag('event', 'order_button_click', {
                    'event_category': 'engagement',
                    'event_label': 'Order Now Button'
                });
            });
        </script>
    </div>
    
    {{ content | safe }}
</body>
</html>
