---
layout: base.njk
---

<main class="container">
    <!--<div class="section" id="left-section" onclick="window.location.href='/product/index.html?product=superpanchos'">-->
    <div class="section" id="left-section"> 
        <img src="/images/left-image.webp" alt="Image Superpanchos" loading="lazy">
        <div class="overlay-text">
            <h3>Superpanchos</h3>
            <h6>60 superpanchos + panes</h6>
            <h5>$28.000</h5>
        </div>
    </div>
    <!--<div class="section" id="middle-section" onclick="window.location.href='/product/index.html?product=hamburguesas'">-->
    <div class="section" id="middle-section"> 
        <img src="/images/middle-image.webp" alt="Image Hamburguesas" loading="lazy">
        <div class="overlay-text">
            <h3>Hamburguesas</h3>
            <h6>40 hamburguesas + panes</h6>
            <h5>$31.500</h5>
        </div>
    </div>
    <!-- <div class="section" id="right-section" onclick="window.location.href='/product/index.html?product=papasfritas'"> --> <!-- doesnt take '-' as a parameter -->
    <div class="section" id="right-section"> 
        <img src="/images/right-image.webp" alt="Image Fritas" loading="lazy">
        <div class="overlay-text">
            <h3>Papas fritas</h3>
            <h6>4 bolsas de 2,500kg</h6>
            <h5>$28.000</h5>
        </div>
    </div>
</main>