---
layout: base.njk
title: Thank You
---

<main class="thank-you-page">
    <h1>¡Gracias por tu contacto!</h1>
    <p>Nos pondremos en contacto con vos pronto.</p>
    <a href="/" class="back-home">Volver a la página principal</a>
</main>

<link rel="stylesheet" href="/styles/thanks.css">
